NEXT_PUBLIC_API_BASE=http://localhost:3001/api
# SSR 服务端请求 API（Docker 内网示例：http://api:3001/api）
# API_BASE_INTERNAL=http://api:3001/api
NEXT_PUBLIC_MICRO_WEB=http://localhost:4001
NEXT_PUBLIC_MICRO_ADMIN=http://localhost:4007
