NEXT_PUBLIC_API_BASE=http://localhost:3001/api
NEXT_PUBLIC_MICRO_HOME=http://localhost:4001
NEXT_PUBLIC_MICRO_ABOUT=http://localhost:4002
NEXT_PUBLIC_MICRO_BLOG=http://localhost:4003
NEXT_PUBLIC_MICRO_PROJECTS=http://localhost:4004
NEXT_PUBLIC_MICRO_CONTACT=http://localhost:4005
NEXT_PUBLIC_MICRO_LINKS=http://localhost:4006
NEXT_PUBLIC_MICRO_ADMIN=http://localhost:4007
